@page "/"

<h2>Choose a game</h2>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slime Wars</h5>
        <h6 class="card-subtitle mb-2 text-muted">take over the board! originally by Jagex</h6>
        <p class="card-text">
            2 player turn based game of infection! The objective 
            is to turn the board your colour by taking control 
            of empty spaces. When you occupy a space, if your 
            opponent occupies a neighbouring the position, then it too becomes 
            your space. If you move a single step, then you multiply. If you jump 
            2 steps then you simply move.
        </p>
        <a href="/slimewars" class="btn btn-primary">Play</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
        <h6 class="card-subtitle mb-2 text-muted">Additional mini games</h6>
        <p class="card-text">
            Using the same technology, more games and simulations will soon be added.
        </p>
      </div>
    </div>
  </div>
</div>